body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,18,177,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
}

.card-body {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.card-body h5 + p{
    color: rgb(214, 163, 20);
    font-size: 14px;
    font-weight: bold;
}

.navbar {
    background-color: transparent !important;
}

#clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-btn {
    width: 5rem;
    height: 2rem;
    margin-top: 7px;
    padding: 3px;
}

.searchBarDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

.searchBar {
    border-radius: 6px;
    border: 1px dotted rgb(224, 185, 11);
    width: 50%;  
}

#cart {
    overflow-y: scroll;
    height: 230px;
    /* display: -webkit-box; */
    -webkit-line-clamp: 1;
    /* -webkit-box-orient: vertical; */
}

.dropdown-item {
    padding-left: 5px;
}