#clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-btn {
    width: 5rem;
    height: 2rem;
    margin-top: 7px;
    padding: 3px;
}